* {
  font-family: "Overlock SC", cursive;
}


.App {
  text-align: center;
}

.home-p {
  margin: 60px 80px;
}



header {
  text-align: center;
  height:100%;
  background-color: #01533f;
  padding-bottom: 50px;
}

header h1 {
  color: white;
  margin-top: 0;
  
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}
li {
  color: #1375af;
  text-decoration: none;
}
nav {
  background-color: #b2d23e;
  text-align: center;
  font-size: 20px;
}

img{
  border-style: solid;
  border-color:#3e4981;
  border-radius: 10px;
  box-shadow:  #b2d23e 0px 19px 38px,
  #1375af 0px 15px 12px;
}

form {
  text-align: center;
  background-color: #616C59;
  color: whitesmoke;
  width: 60%;
  margin: 50px auto;
  border-style: groove;
  border-color: #b2d23e;
  border-radius: 20px;
  box-shadow:  #1375AF 0px 19px 38px,
  #A7D4EE 0px 15px 12px;
  padding-bottom: 10px;
}

button {
  background-color: #b2d23e;

}

nav a {
  text-decoration: none;
  text-transform: uppercase;
}

.details{
  font-size: 20px;
  
}

.home {
  font-size: 20px;
  
}

.filter{
  background-color:    #616C59;
  color: white;
  text-align: center;
  width: 90%;
  margin: 50px auto;
  border-style: groove;
  border-color: #b2d23e;
  border-radius: 10px;
  box-shadow:  #1375AF 0px 19px 38px,
  #A7D4EE 0px 15px 12px;
}


.guide-1 {
  background-color: #3e4981;
  color: white;
  text-align: center;
  width: 90%;
  margin: 50px auto;
  border-style: groove;
  border-color: #b2d23e;
  border-radius: 10px;
  box-shadow: #01533f 0px 19px 38px,
  #A7D4EE 0px 15px 12px;

}

.guide-1 h4{
  color: #b2d23e;
}
.guide-1 a{
  text-decoration: none;
  color: whitesmoke;
}

.guide-2 {
  background-color: #1375af;
  color: white;
  text-align: center;
  width: 90%;
  margin: 50px auto;
  border-style: groove;
  border-color: #b2d23e;
  border-radius: 10px;
  box-shadow:  #01533f 0px 19px 38px,
  #A7D4EE 0px 15px 12px;
}

.guide-2 h4{
  color: #F47D20 ;
}
.guide-2 a{
  text-decoration: none;
  color: whitesmoke;
}

.comments {
  background-color:    #01533F;
  color: white;
  text-align: center;
  width: 90%;
  margin: 50px auto;
  border-style: groove;
  border-color: #b2d23e;
  border-radius: 10px;
  box-shadow:  #1375AF 0px 19px 38px,
  #A7D4EE 0px 15px 12px;
}
.comments h5 {
  color: #F47D20;
}

@media screen and (max-width: 375px){
  details{
    font-size: 70%;

  }
  nav a{
    font-size: 80%;
  }

}

@media screen and (max-width: 650px){
  details{
    font-size: 70%;

  }
  nav a{
    font-size: 90%;
  }

}
